#add-question-header {
  text-align: center;
  margin: 10px;
  color: var(--title-color);
}

#add-question-form {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    height: 44px;
  
    max-width: var(--max-width);
    margin: 24px auto;
    padding: 0 24px;
  }
  
  #add-question-form > input {
    padding: 10px;
    background-color: rgb(223, 223, 223);
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
  }
  
  #question-label-input {
    width: 15%;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  #question-body-input {
    width: 50%;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  #question-datatype-input {
    width: 15%;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  #question-active-input {
    width: 30px;
    height: 30px;
    resize: none;
  }
  
  #add-question-btn {
    padding: 10px;
    width: fit-content;
    min-width: 80px;
    border: 2px solid skyblue;
    background-color: rgb(30, 143, 188);
    color: rgb(255, 255, 255);
    font-weight: 900;
    border-radius: 10px;
    cursor: pointer;
  
    transition: all 0.1s ease-in;
  }
  
  #add-question-btn:hover {
    background-color: rgb(33, 162, 213);
  }
  
  #add-question-btn:active {
    background-color: rgb(24, 103, 135);
  }
  
  #add-question-btn:disabled {
    background-color: rgb(24, 103, 135);
    color: rgb(195, 195, 195);
  }
  