#qa-control-container {
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 24px;
  padding: 0 24px;
}

#qa-control-header {
  text-align: center;
  margin: 10px;
  color: var(--title-color);
}

#qa-control-form {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
  height: 44px;

  max-width: var(--max-width);
  margin: 24px auto;
  padding: 0 24px;
}

#qa-control-form > input {
  padding: 10px;
  background-color: rgb(223, 223, 223);
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

#qa-control-filepath-input {
  /* width: 80%; */
  width: fit-content;
  min-width: 80%;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

#qa-control-btn,
#qa-reset-btn {
  padding: 10px;
  width: fit-content;
  min-width: 80px;
  border: 2px solid skyblue;
  background-color: rgb(30, 143, 188);
  color: rgb(255, 255, 255);
  font-weight: 900;
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.1s ease-in;
}

#qa-control-btn:hover,
#qa-reset-btn:hover {
  background-color: rgb(33, 162, 213);
}

#qa-control-btn:active,
#qa-reset-btn:active {
  background-color: rgb(24, 103, 135);
}

#qa-control-btn:disabled,
#qa-reset-btn:disabled {
  background-color: rgb(24, 103, 135);
  color: rgb(195, 195, 195);
}