#question-container {
  background-color: rgb(30, 102, 130);
  color: white;
  padding: 15px;
  border-radius: 10px;

  display: flex;
  vertical-align: middle;
  /* flex-direction: column; */
  gap: 5px;
}

#question-container:hover {
  background-color: rgb(0, 54, 87);
}

#question-container > input,
#question-container > textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  display: flex;
}

#question-label-edit-input {
  width: 15%;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

#question-body-edit-input {
  width: 50%;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

#question-active-edit-input {
  width: 5%;
  align-content: center;
  resize: none;
}

#question-datatype-edit-input {
  width: 15%;
  resize: none;
  font-family: Arial, Helvetica, sans-serif;
}

.question-label {
  width: 15%;
  text-align: left;
}

.question-body {
  width: 50%;
  text-align: left;
}

.question-active {
  width: 5%;
  text-align: center;
}

.question-datatype {
  width: 15%;
  text-align: left;
}

.question-buttons-container {
  display: flex;
  gap: 5px;
  /* margin-top: 10px; */
}

.question-buttons-container > button {
  padding: 4px 10px;
  border-radius: 5px;
  border: none;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.delete-btn {
  background-color: rgb(214, 31, 31);
  color: white;
}

.delete-btn:hover {
  background-color: rgb(244, 37, 37);
}

.delete-btn:active {
  background-color: rgb(168, 23, 23);
}

.save-btn {
  background-color: rgb(25, 228, 25);
}

.save-btn:hover {
  background-color: rgb(30, 254, 30);
}

.save-btn:active {
  background-color: rgb(20, 187, 20);
}

.neutral-btn {
  background-color: rgb(212, 212, 212);
}

.neutral-btn:hover {
  background-color: white;
}

.neutral-btn:active {
  background-color: grey;
}
  