#questions-list-container {
    max-width: var(--max-width);
    margin: 0 auto;
    margin-bottom: 24px;
    padding: 0 24px;
  }
  
  #questions-list-header {
    text-align: center;
    margin: 10px;
    color: var(--title-color);
  }
  
  #questions-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    list-style: none;
  }
  